# Pyswisseph - gitignore

*.a
*.bak
*.o
*.py[cod]
*.prj
*.pui
*.so
*.zip
*~

.eggs/
.idea/

MANIFEST

build*/
dist/
docs/_build
epydoc/*
make.py
manifest
pyswisseph.egg-info/*
setup.cfg
src
swe_unix_src*
swisseph.*.so
swisseph.so

venv/

# debian
.pybuild/
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/python3-swisseph
debian/python3-swisseph-doc
debian/tmp
debian/.debhelper
