# Pyswisseph - git ignore

# Precompiled Python files
*.pyc
*.pyo

# Backup files
*~
*.bak

# Objects files
*.o
*.a

# Zip files
*.zip

# UltraEdit files
*.pui
*.prj

# Swisseph sources
swe_unix_src*
doc
src

#  Others
index.html
MANIFEST
manifest
dist*
build*
win*
test*
pydoc*
CMakeLists.txt
