# Pyswisseph - gitignore

*~
*.a
*.bak
*.o
*.pyc
*.pyo
*.prj
*.pui
*.zip

MANIFEST
build*/
dist/
doc
epydoc/*
make.py
manifest
pyswisseph.egg-info/*
setup.cfg
src
swe_unix_src*
swisseph.*.so
swisseph.so

venv/
.idea/
